*{
	margin: 0; /* body-8px */
	padding: 0;
	text-decoration: none;
	font-style: normal;
	list-style: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 580776 */
  src: url('https://at.alicdn.com/t/font_580776_8readgyvzr4cmcxr.eot');
  src: url('https://at.alicdn.com/t/font_580776_8readgyvzr4cmcxr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_580776_8readgyvzr4cmcxr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_580776_8readgyvzr4cmcxr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_580776_8readgyvzr4cmcxr.svg#iconfont') format('svg');
}